*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Staking
{
    width: 100vw;
    height: 100%;
    background-image: url(../images/background4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}