*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Staking
{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/background4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    .main-container
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
        .staking-container
        {
            width: 75%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}