*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.Navbar
{
    width: 100vw;
    .menu-icon
    {
        font-size: 25px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 640px) {
    
}